@model IEnumerable<ReviewSite.Models.RestaurantModel>

@{
    ViewData["Title"] = "Restaurants";
}

<h1>Local Restaurants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@*Image*@</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Location)
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    <img src="@item.ImageUrl" alt="@item.Name"
                     style="max-width: 150px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">See All Reviews</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="CreateRestaurant" asp-route-id="@item.Id" asp-controller="ReviewModels">Add Review</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
